<div class="comments flex flex-start text-left py-4 mb-4 w-4/5 text-white">
  <ul class="list-none">
    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
        <li class="flex items-center">
          <strong><%= comment.author.name %>:</strong>
          <p class="ml-2"><%= comment.text %></p>
          <% if can?(:destroy, comment) %>
            <%= button_to "X", user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "ml-4 bg-transparent font-bold hover:text-red-600 text-red-500 text-3xl py-1 px-2 rounded" %>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li><%= t(:no_comments_yet) %></li>
    <% end %>
  </ul>
</div>
