<h1>List of Users</h1>

<ul class="user-list">
  <% @users.each do |user| %>
    <li class="user-item">
      <div class="user-pic"></div>
      <div class="user-info">
        <h2><a href="<%= user_path(user) %>"><%= user.name %></a></h2>
        <p><%= pluralize(user.posts.count, 'post') %></p>
      </div>
    </li>
  <% end %>
</ul>
