
<div data-modal-target="container" class="hidden fixed inset-0 overflow-y-auto flex items-center justify-center" style="z-index: 9999;">
  <div  class="fixed top-0 left-0 w-full h-full bg-black opacity-50" data-action="click->comment-modal#close"></div>
  <div class="max-h-screen w-4/5 relative p-12 bg-white rounded shadow">
    <div class="px-4 py-3 bg-gray-100 border-b border-gray-200 sm:px-6">
      <div class="flex justify-between items-center">
        <h3 id="modal-title" class="text-lg leading-6 font-medium text-gray-900">Add Comment</h3>
<button data-action="click->comment-modal#close" class="text-gray-500 hover:text-gray-600">
  <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.29 6.29a1 1 0 0 1 1.42 0L12 10.59l4.29-4.3a1 1 0 0 1 1.42 1.42L13.41 12l4.3 4.29a1 1 0 1 1-1.42 1.42L12 13.41l-4.29 4.3a1 1 0 0 1-1.42-1.42L10.59 12 6.29 7.71a1 1 0 0 1 0-1.42z"/></svg>
</button>

      </div>
    </div>
<%= render partial: 'comments/comment_form', locals: { post: @post } %>
</div>
</div>
