<div class="comments p-4 w-4/5">
  <ul class="list-none">
    <% if comments.any? %>
      <% comments.each do |comment| %>
        <li>
          <strong><%= comment.author.name %>:</strong>
          <%= comment.text %>
        </li>
      <% end %>
    <% else %>
      <li><%= t(:no_comments_yet) %></li>
    <% end %>
  </ul>
</div>
