@import 'users/user_info';
@import 'posts/post_item.css';
@import 'posts/index.css';
@import 'posts/show.css';
@import 'users/index';
@import 'users/show';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
