.user-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #000;
  padding: 10px;
}

.user-pic {
  background: linear-gradient(to bottom, #000, #fff);
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  margin-right: 10px;
}

.user-info {
  flex: 1;
}

.user-info h2 {
  font-size: 1.5rem;
  margin: 0;
}

.user-info h2 a {
  text-decoration: none;
  color: inherit;
}

.user-info h2 a:hover {
  text-decoration: underline;
}

.user-info p {
  justify-content: flex-end;
  display: flex;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 5px 0;
}

.post-link {
  text-decoration: none;
  color: inherit;
}

.post-link:hover {
  text-decoration: underline;
}
