.post {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #000;
}

.post h3 {
  margin: 0;
}

.post-meta {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.likes-count,
.comments-count {
  margin-right: 1rem;
}
