<header class="bg-transparent">
  <div class="py-8 pr-44 flex space-x-2 justify-end">
    <%= link_to "En", url_for(locale: 'en'), class: "text-white font-semibold rounded-full py-2 px-4 bg-cyan-500 hover:bg-cyan-600" %>
    <%= link_to "Ru", url_for(locale: 'ru'), class: "text-white font-semibold rounded-full py-2 px-4 bg-cyan-500 hover:bg-cyan-600" %>
  </div>
</header>
