<header class="bg-transparent">
  <div class="p-8 flex space-x-2 justify-between">
<div class="languages">
    <%= link_to "En", url_for(locale: 'en'), class: "text-amber-300 font-semibold rounded-full py-2 px-4 bg-purple-600 hover:bg-purple-800 hover:no-underline" %>
    <%= link_to "Ru", url_for(locale: 'ru'), class: "text-amber-300 font-semibold rounded-full py-2 px-4 bg-purple-600 hover:bg-purple-800 hover:no-underline" %>
        <%= link_to "Lv", url_for(locale: 'lv'), class: "text-amber-300 font-semibold rounded-full py-2 px-4 bg-purple-600 hover:bg-purple-800 hover:no-underline" %>
        </div>
            <div class="login-status">
<% if user_signed_in? %>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-white font-semibold rounded-full py-2 px-4 bg-red-600 hover:bg-red-800 hover:no-underline" %>
<% end %>
</div>
  </div>
</header>
